@mixin centralizar {
  margin-left: auto;
  margin-right: auto;
}

// Line height
@function lineHeight($px, $context: 1.5) {
  @return $px * $context + px;
}

// Container
@mixin container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--espacamento-medio);
  padding-right: var(--espacamento-medio);

  @include d(desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}

// Espaçamento seção
@mixin espacamentoSecao {
  padding-top: var(--espacamento-grande);
  padding-bottom: var(--espacamento-grande);
}

// Breakpoints
$mobile: 599;
$tablet: 600;
$tablet-up: 900;
$desktop: 1200;
$desktop-up: 1800;

@mixin d($device) {
  @if ($device == mobile) {
    @media (max-width: $mobile + px) {
      @content;
    }
  } @else if($device == tablet) {
    @media (min-width: $tablet + px) {
      @content;
    }
  } @else if($device == tablet-up) {
    @media (min-width: $tablet-up + px) {
      @content;
    }
  } @else if($device == desktop) {
    @media (min-width: $desktop + px) {
      @content;
    }
  } @else if($device == desktop-up) {
    @media (min-width: $desktop-up + px) {
      @content;
    }
  }
}
