@import "../../../../../styles/util/mixin";

$name: "l_plantas";

.#{$name} {
  // Plantas
  &__plantas {
    // Legenda
    &_legenda {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      bottom: 20px;

      @include d(tablet) {
        bottom: 40px;
      }
    }

    // Zoon
    &_zoon {
      position: absolute;
      top: 0;
      right: -9px;
      z-index: 9;
    }
  }
}
