$name: "swiper_diferenciaisEngelux";

.#{$name} {
  padding-bottom: 60px !important;

  & .swiper-slide {
    width: 235px;
  }

  & .swiper-pagination {
    position: absolute;
    bottom: 0 !important;
    & .swiper-pagination-bullet {
      background: var(--cinza);
      border-radius: 2px;
      opacity: 0.4;
      transition: 0.3s;

      &-active {
        width: 16px;
        background-color: #f04f28;
        opacity: 1;
        transition: 0.3s;
      }
    }
  }

  & .swiper-button-next,
  .swiper-button-prev {
    top: calc(100% - 30px) !important;
    background: none;
    cursor: pointer;
  }

  & .swiper-button-next {
    left: calc(100% - 50px) !important;

    &::before {
      content: "<";
      font-size: 18px;
      color: var(--branco);
      background-color: var(--azul-claro);
      width: 32px;
      height: 32px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      cursor: pointer;
    }
  }

  & .swiper-button-prev {
    left: calc(100% - 90px) !important;

    &::before {
      content: "<";
      font-size: 18px;
      color: var(--branco);
      background-color: var(--azul-claro);
      width: 32px;
      height: 32px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      cursor: pointer;
    }
  }
}
