@import "../util";

$name: "c_sweet-engelux-alert";

.#{$name} {
  padding-bottom: 40px !important;
  position: relative;
  background-image: linear-gradient(45deg, #efefef 50%, #f4f4f4 45%) !important;

  @include d(tablet) {
    width: 556px !important;
  }

  & .swal2-header {
    align-items: flex-start !important;
  }

  &-title {
    &-agradecimento {
      width: 322px;
      font-size: 26px !important;
      font-weight: bold !important;
      color: $secondarySideSacoma !important;
      display: flex !important;
      align-items: center !important;
      gap: 16px;
      margin-top: 77px !important;
      white-space: nowrap;

      @include d(tablet) {
        //  padding-left: $space-lg1 !important;
      }

      & strong {
        color: #8e34a6;
        font-weight: 500;
      }

      &::before {
        content: "";
        //min-width: 45px;
        max-width: 45px;
        height: 45px;
        // background: url("/images/icon-alert-success.svg");
        display: block;
      }
    }
  }

  &-html {
    margin-bottom: 20px !important;
    font-size: 26px !important;
    font-weight: var(--fw-bold) !important;
    color: $secondaryDarkSideSacoma !important;
    text-align: left !important;
    padding-left: 0px !important;

    & p {
      margin-top: 40px;
      font-size: 18px;
      color: #4c4d4f;
      font-weight: var(--fw-light);
    }
  }

  &-confirm {
    &-agradecimento {
      background: red !important;
      width: 71px !important;
      height: 51px !important;
      border-radius: 4px !important;
      border: 1px solid $secondaryDarkSideSacoma !important;
      color: $secondaryDarkSideSacoma !important;
      background-color: var(--branco) !important;
      font-size: $fs-md1 !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      font-weight: bold !important;
    }
  }

  &-actions {
    width: 100% !important;
    justify-content: flex-end !important;
    padding: 20px $space-lg1 12px $space-lg1 !important;
  }

  @include d(tablet) {
    padding-right: var(--espacamento-extra-medio) !important;
  }
}
