@import "../../styles/util";

.location {
  width: 100%;
  background: linear-gradient(90deg, rgba(122, 166, 44, 1) 50%, rgba(242, 242, 242, 1) 50%);
  display: flex;

  .location__container {
    width: 100%;
    @include containerSecao;
    position: relative;
    overflow: hidden;
    background-color: var(--white-700);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;

    @include d(desktop) {
      flex-direction: row;
      padding-bottom: $space-lg1;
    }

    &_quadrado {
      min-width: 300px;
      min-height: 300px;

      @include d(desktop) {
        width: 820px;
        height: 820px;
      }

      background-color: $secondarySideSacoma;
      transform: rotate(50deg);
      display: none;
      position: absolute;
      top: 0;
      left: -30%;

      @include d(desktop) {
        transform: rotate(45deg);

        display: block;

        left: -30%;
      }

      @include d(desktop) {
        left: -20%;
        width: 860px;
      }

      z-index: 1;
    }

    &_index {
      z-index: 2;

      & > h1 {
        @include spaceSectionX;

        @include d(tablet-up) {
          padding: 0;
        }
      }
    }

    &_groceries_around {
      display: flex;
      flex-direction: column;
      @include spaceSectionX;
      @include spaceSectionY;
      background-color: $secondarySideSacoma;

      @include d(desktop) {
        padding-right: $space-lg1;
        background-color: transparent;
      }

      h3 {
        color: #b2de64;
        font-size: 28px;
        font-weight: 700;
        line-height: 44.8px;
        margin: 0;
        mix-blend-mode: luminosity;
        opacity: 0.8;
        padding: 0;
        text-transform: uppercase;
      }

      h1 {
        color: var(--white-900);
        font-size: 36px;
        font-weight: 700;
        margin-top: $space-sm1;
      }

      & a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;

        background: var(--white-700);
        border-radius: 100px;
        box-shadow: 0px 12px 12px rgba(122, 166, 44, 0.2);
        color: var(--secondary-side-sacoman);
        font-size: 24px;
        font-weight: 700;
        height: 64px;
        line-height: 13px;
        letter-spacing: 0.3px;
        margin-top: $space-md1;
        padding: 16px 20px;
        min-width: 360px;

        img {
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--secondary-side-sacoman);
          border-radius: 20px;
          height: 32px;
          padding: 10px;
          width: 32px;
        }
      }

      & a:hover {
        cursor: pointer;
      }
    }

    &_location {
      display: flex;
      gap: 12px;
      align-items: center;
      color: var(--white-900);
      font-size: 18px;
      font-weight: 400;
      margin-top: 16px;
      strong {
        font-weight: 700;
      }
    }

    &_map {
      position: relative;
      align-self: center;
      margin-left: 80px;

      @include d(desktop) {
        align-self: flex-start;
      }

      & button {
        position: absolute;
        top: $space-default1;
        right: 0;
        z-index: 2;

        @include d(tablet-up) {
          top: $space-md2;
          right: $space-md;
        }
      }

      & figcaption{
        align-items: center;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 90px;
        right: 450px;

        background-color: #041C3E;
        border-radius: 10px;
        height: 60px;
        width: 60px;
        transform: rotate(45deg);
    
        & img{
          transform: rotate(315deg);
        }

        &:hover{
          cursor: pointer;
        }

        @include d(tablet){
          align-self: flex-start;
          margin-top: 50px;
          right: 380px;
        }

        @include d(tablet-up){
          right: 300px;
        }
    }
    }
  }
}
