@import "../../../../styles/util/mixin";

$name: "l_video";

.#{$name} {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--preto-forte);
  position: relative;

  // Video

  &__principal {
    width: 100%;
    background-color: #000000;

    @include d(tablet-up) {
      max-width: 670px;
      padding-top: 60px;
      padding-bottom: 60px;
    }

    & iframe {
      width: 100%;
      height: 100%;
      z-index: 2;

      @include d(desktop) {
        width: 670px;
      }
    }
  }

  &__mini {
    display: flex;
    flex-direction: column;

    &_video {
      display: none;
      background-color: #000000;
      max-height: 340px;
      padding-top: 20px;
      padding-bottom: 20px;

      @include d(desktop) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      & iframe {
        width: 100%;
        max-width: 220px;
        height: 130px;
      }
    }

    & button {
      background: none;
      border: none;
      outline: 0;
      color: var(--branco);
      font-size: var(--fs-pequeno-2);
      display: none;
      align-items: center;
      margin-left: 12px;
      margin-top: var(--espacamento-medio);
      cursor: pointer;
      width: 90px;

      @include d(desktop) {
        display: flex;
      }

      & span {
        margin-left: 12px;
      }
    }
  }
}
