$name: "swiper_plantas";

.#{$name} {
  width: 100%;

  & .swiper-slide {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;

    @include d(tablet-up) {
      display: flex;
    }

    & img {
      width: 100%;
      max-width: 204px;

      @include d(tablet) {
        max-width: 604px;
      }
      max-height: 376px;
      object-fit: scale-down;
    }
  }

  & .swiper-button-prev {
    left: 0 !important;
    top: 85% !important;

    @include d(tablet) {
      top: 88% !important;
    }
  }

  & .swiper-button-next {
    right: 0 !important;
    top: 85% !important;

    @include d(tablet) {
      top: 88% !important;
    }
  }
}
