@import "../../styles/util/mixin";

$component: "c_bullet";

.#{$component} {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (max-width: 300px) {
    max-width: 260px;
  }

  // Tipo etapa
  &__etapa {
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    max-width: 100%;
  }

  // Number
  &__number {
    width: 52px;
    height: 52px;
    background: var(--azulClaro);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-gigante);
    color: var(--branco);
    font-family: var(--museo-black);
    z-index: 2;
    transition: 0.3s;

    // Azul escuro
    &_active {
      background: var(--azul);
      transition: 0.3s;
    }

    // Cinza claro
    &_inactive {
      background: var(--cinzaClaro);
      transition: 0.3s;
    }
  }

  // Text
  &__text {
    font-size: var(--fs-medio);
    color: var(--preto);
    font-family: var(--museo-light);
    line-height: lineHeight(18);
    text-align: center;
    margin-top: var(--espacamento_medio);
  }
}
