@import "../../../styles/util/mixin";

$name: "modalSaibaMais";

.#{$name} {
  width: 100%;
  min-height: 100vh;
  background-color: var(--branco-2);
  background-image: linear-gradient(45deg, #efefef 58%, #f4f4f4 50%);
  padding-top: 130px;
  position: relative;

  &__content {
    width: 100%;
    max-width: 335px;
    display: flex;
    flex-direction: column;
    @include centralizar;
    padding-left: 20px;
    padding-right: 20px;

    @include d(tablet) {
      padding-left: 0;
      padding-right: 0;
    }

    & h1 {
      margin-top: 24px;
    }

    & form {
      & input {
        margin-bottom: 26px;
      }
      & button {
        width: 114px;
        height: 51px;
        margin-left: auto;
        margin-top: 14px;
      }

      & p {
        position: relative;
        color: var(--vermelho);
        font-size: 14px;
        top: -20px;
        left: 5px;
        transition: 0.3s;
      }
    }
  }

  &__desc {
    font-size: 18px;
    line-height: lineHeight(18);
    color: var(--preto);
    font-family: var(--nunito);
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: var(--fw-light);
  }

  // Contato
  &__contato {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    & > span {
      color: var(--preto);
      font-size: 18px;
    }

    &_whats,
    &_ligue,
    &_chat {
      margin-top: 30px;
      display: flex;

      & img {
        margin-right: 12px;
      }

      & p {
        font-size: 16px;
        line-height: lineHeight(16);
        font-weight: var(--fw-light);

        & a {
          color: var(--azul-claro);
          text-decoration: underline;
        }

        & strong {
          font-weight: var(--fw-bold);
        }
      }
    }

    &_whats {
      & img {
        position: relative;
        top: -12px;
      }
    }
  }

  // Footer
  &__footer {
    width: 100%;
    height: 70px;
    display: block;
    border-top: 2px solid var(--azul-claro);
    margin-top: 130px;
  }
}
